<div id="about">

  <div class="page-title">
    <h1>About</h1>
  </div>

  <div id="about-text">
    <h5>
    Dartboi is an instrumental smorgasbord for the senses. The Toronto-based experimental quartet is composed of bassist Corey Cosman, drummer Josh Kestenberg, guitarist Brent O'Toole and Daria Morgacheva on the keys.<br><br>
    They dabble in jazz and prog-rock with a funky rhythm section and mind-bending melodies, courtesy of the interplay between guitar and keyboard. The mood builds from mellow to metallic at times, all while maintaining a free-flowing but maze-like feel.
    </h5>
  </div>

</div>
