<div id="music">

  <div class="page-title">
    <h1 id="music-title">Music</h1>
  </div>

  <div class="embeded-media">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Tp0IdaANKNY?ecver=1" frameborder="0" allowfullscreen>
    </iframe>
  </div>

  <div class="embeded-media">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/tdpnbhKwdpE?ecver=1" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="embeded-media">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/sA1G2mOYk5U?ecver=1" frameborder="0" allowfullscreen></iframe>
  </div>

<div>
