<div id="new-email">
  <%= form_for @contact do |f| %>
    <div class="form-field">
      <%= f.text_field :email, placeholder: "Your email adress..." %>
    </div>
    <div class="form-field" id="text-area">
      <%= f.text_area :body, placeholder: "Write your message here..." %>
    </div>
    <div class="form-submit">
      <%= f.submit "Send"%>
    </div>
  <% end %>
</div>
