/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

  ::-webkit-scrollbar {
    display: none;
  }

  .main {
    background-image: url('Roofs_dartboi.jpg');
    background-position: 50% 50%;
    background-size: 1920px 1200px;
    height: 100%;
    width: 100%;
    min-height: 1000px;
  }

  .nav-bar{
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    min-width: 100%;
    border-bottom: white 10px;
    top: 0px;
    z-index: 1;
  }

  .nav-link{
    min-width: 19.65%;
    display: inline-block;
    text-align: center;
  }

  .nav-link a{
    font-family: 'Bree Serif', serif;
    -webkit-text-stroke: 0.8px lightgreen;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  #news{
    width: 60%;
    position: relative;
    font-family: 'Bree Serif', serif;
    color: black;
    -webkit-text-stroke: 2px lightgreen;
    font-size: 40px;
    margin: auto;
    top: 20px;
  }

  .page-title{
    font-family: 'Bree Serif', serif;
    -webkit-text-stroke: 2px lightgreen;
    font-size: 40px;
    text-align: center;
    color: black;
  }

  .show-listing{
    -webkit-text-stroke: 0.8px lightgreen;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
  }

  .show-listing img{
    width: 150px;
    border: white 2px solid;
    border-radius: 5%;
    position: absolute;
    right: 20px;
    bottom: 50px;
  }

  #news h2{
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 10px;
  }

  .show-listing a{
    font-family: 'Bree Serif', serif;
    -webkit-text-stroke: 0.8px lightgreen;
    text-decoration: underline white;
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  .show-description, .show-location, .show-price {
    font-size: 25px;
    font-family: 'Bree Serif', serif;
    -webkit-text-stroke: 0.8px lightgreen;
  }

  .date{
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    -webkit-text-stroke: 0.8px lightgreen;
  }

  form {
    position: absolute;
    display: inline-block;
    margin-left: 43%;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    padding: 30px;
}

.form-field{
  padding-bottom: 10px;
}

#shows{
  position: relative;
  width:80%;
  margin: auto;
  top:20px;
}

#shows img{
  width: 250px;
  border: white 2px solid;
  border-radius: 5%;
  position: absolute;
  right: 20px;
}
