/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 .main {
   background: black;
   background-size: 50px;
   position: absolute;
   z-index: -1;
   top: 50px;
   min-width: 100%;
   min-height: 100%;
 }

 .nav-bar{
   background: black;
   padding-top: 15px;
   padding-bottom: 15px;
   position: fixed;
   min-width: 100%;
   border-bottom: white 10px;
 }

  .nav-link{
    min-width: 19.6%;
    display: inline-block;
    text-align: center;
  }
 .nav-link a{
   font-family: 'Bree Serif', serif;
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 30px;
 }

  #news{
    width: 60%;
    position: relative;
    font-family: 'Bree Serif', serif;
    color: black;
    -webkit-text-stroke: 2px white;
    font-size: 40px;
    margin: auto;
  }

  #news h1{
    text-align: center;
  }
